/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div {
    background-color: blueviolet;
    border: 1px dashed black;
}
/* HEADER */
header {
    height: 230px;
    /* background-color: red; */
    width: 100%;
}
#upper-hdr {
    height: 20%;
    background-color: rgb(173, 216, 230);
}
#bottom-hdr {
    height: 80%;
    background-color: rgb(0, 0, 139);
}
.common-size {
    width: 70%;
    height: 75%;
}
.display-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.different-size{
    width: 50%;
    height: 75%;
}
.bg-pink {
    background-color: rgb(238, 130, 238);
}